:root {
  --color-orange: hsl(22, 65%, 57%); /* Orange */
  --color-dark-gray: hsl(0, 0%, 6%); /* Dark Gray */
  --color-light-gray: hsl(0, 0%, 95%); /* Light Gray */
  --color-lighter-gray: hsl(0, 0%, 98%); /* Lighter Gray */
  --color-light-orange: hsl(21, 94%, 75%); /* Peach */
  --color-white: hsl(0, 0%, 100%); /* White */
  --color-black: hsl(0, 0%, 0%); /* Black */
}
