:root {
  --font-manrope: "Manrope", sans-serif;

  //mobile
  --font-small-h1: 36px;
  --font-small-h2: 28px;
  --font-small-h3: 24px;
  --font-small-h4: 28px;
  --font-small-h5: 24px;
  --font-small-h6: 18px;

  --line-height-small-h1: 40px;
  --line-height-small-h2: auto;
  --line-height-small-h3: 36px;
  --line-height-small-h4: auto;
  --line-height-small-h5: 33px;
  --line-height-small-h6: 24px;

  --letter-spacing-small-h1: 1.29px;
  --letter-spacing-small-h2: 2px;
  --letter-spacing-small-h3: 0.86px;
  --letter-spacing-small-h4: 2px;
  --letter-spacing-small-h5: 1.7px;
  --letter-spacing-small-h6: 1.3px;

  //desktop
  --font-large-h1: 56px;
  --font-large-h2: 40px;
  --font-large-h3: 32px;
  --font-large-h4: 28px;
  --font-large-h5: 24px;
  --font-large-h6: 18px;

  --line-height-large-h1: 58px;
  --line-height-large-h2: 44px;
  --line-height-large-h3: 36px;
  --line-height-large-h4: auto;
  --line-height-large-h5: 33px;
  --line-height-large-h6: 24px;

  --letter-spacing-larger-h1: 2px;
  --letter-spacing-larger-h2: 1.5px;
  --letter-spacing-larger-h3: 1.15px;
  --letter-spacing-larger-h4: 2px;
  --letter-spacing-larger-h5: 1.7px;
  --letter-spacing-larger-h6: 1.3px;
}
