:root {
  --font-manrope: "Manrope", sans-serif;

  --font-size-h1: 56px; /* Heading 1 */
  --font-size-h2: 40px; /* Heading 2 */
  --font-size-h3: 32px; /* Heading 3 */
  --font-size-h4: 28px; /* Heading 4 */
  --font-size-h5: 24px; /* Heading 5 */
  --font-size-h6: 18px; /* Heading 6 */
  --font-size-paragraph: 15px;
  --font-size-overline: 14px;
  --font-size-subtitle: 13px;
  --font-size-anchor: 13px;

  --line-height-h1: 58px; /* Line height for H1 */
  --line-height-h2: 44px; /* Line height for H2 */
  --line-height-h3: 36px; /* Line height for H3 */
  --line-height-h4: 38px; /* Line height for H4 */
  --line-height-h5: 33px; /* Line height for H5 */
  --line-height-h6: 24px; /* Line height for H6 */
  --line-height-paragraph: 25px;
  --line-height-overline: 24px;
  --line-height-subtitle: 25px;
  --line-height-anchor: 25px;

  --letter-spacing-h1: 2px; /* Letter spacing for H1 */
  --letter-spacing-h2: 1.5px; /* Letter spacing for H2 */
  --letter-spacing-h3: 1.15px; /* Letter spacing for H3 */
  --letter-spacing-h4: 2px; /* Letter spacing for H4 */
  --letter-spacing-h5: 1.7px; /* Letter spacing for H5 */
  --letter-spacing-h6: 1.3px; /* Letter spacing for H6 */
  --letter-spacing-overline: 10px;
  --letter-spacing-subtitle: 1px;
  --letter-spacing-anchor: 2px;
}
