<header
  class="bg-orange flex items-center justify-between px-[5%] lg:w-[1110px] lg:mx-auto lg:px-0"
>
  <button
    class="bg-[url('/assets/shared/tablet/icon-hamburger.svg')] bg-no-repeat bg-center w-4 h-4 md:hidden"
  ></button>
  <img src="/assets/shared/desktop/logo.svg" alt="logo" />
  <nav class="hidden md:block">
    <ul class="flex md:w-[429px] justify-between">
      @for(link of navLinks; track $index) {
      <li>
        <a class="uppercase text-white" [href]="link.path">{{ link.name }}</a>
      </li>
      }
    </ul>
  </nav>
  <button
    class="bg-[url('/assets/shared/desktop/icon-cart.svg')] h-[20px] w-[23px] bg-no-repeat bg-center"
  ></button>
</header>
