<section
  class="mt-[90px] md:mt-40 lg:mt-48 w-[87%] md:w-[89%] xl:w-[77%] mx-auto"
>
  <ul
    class="flex flex-col gap-y-16 md:flex-row md:justify-between md:w-full md:gap-x-5"
  >
    @for(product of products; track $index) {
    <li
      (click)="goToPage(product.name)"
      class="product-card bg-lightGray pb-6 rounded-[8px] h-[165px] lg:h-[204px] w-full flex flex-col justify-end item-end items-center"
    >
      <img
        [src]="product.image"
        class="w-[142px] translate-y-0 lg:translate-y-4 lg:w-[220px]"
      />
      <h6 class="mb-4 text-black">{{ product.name }}</h6>
      <a
        [routerLink]="'/' + product.name"
        class="flex items-center justify-between uppercase mx-auto w-[58px] whitespace-nowrap text-[#979797] font-bold tracking-[1px]"
      >
        <span class="text-[13px] tracking-[1px]">shop</span>
        <svg width="8" height="12" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M1.322 1l5 5-5 5"
            stroke="#D87D4A"
            stroke-width="2"
            fill="none"
            fill-rule="evenodd"
          />
        </svg>
      </a>
    </li>
    }
  </ul>
</section>
