<section
  class="px-[6.5%] md:px-[5%] lg:px-[14.5%] lg:flex lg:flex-row-reverse lg:justify-between lg:items-center"
>
  <img
    src="/assets/shared/mobile/image-best-gear.jpg"
    class="rounded-[8px] mt-32 md:hidden"
  />
  <img
    src="/assets/shared/tablet/image-best-gear.jpg"
    class="rounded-[8px] mt-32 hidden md:block lg:hidden"
  />
  <img
    src="/assets/shared/desktop/image-best-gear.jpg"
    class="rounded-[8px] hidden lg:block w-[48%] max-w-[540px]"
  />
  <div class="text-center lg:w-[445px] lg:text-start">
    <h2
      class="text-[28px] md:leading-[44px] md:text-[40px] md:tracking-[1.43px] tracking-[1px] uppercase text-black font-bold my-8"
    >
      bringing you the <span class="text-orange">best</span> audio gear
    </h2>
    <p class="text-[#777777] font-medium">
      Located at the heart of New York City, Audiophile is the premier store for
      high end headphones, earphones, speakers, and audio accessories. We have a
      large showroom and luxury demonstration rooms available for you to browse
      and experience a wide range of our products. Stop by our store to meet
      some of the fantastic people who make Audiophile the best place to buy
      your portable audio equipment.
    </p>
  </div>
</section>
