<section class="mt-52">
  <ul>
    @for(product of products; track $index) {
    <li class="mb-20">
      <img
        [src]="product.image"
        class="w-[180px] absolute z-10 -translate-y-16 left-[50%] -translate-x-[50%]"
      />
      <div
        class="bg-lightGray pb-6 rounded-[8px] mx-[5%] h-[165px] flex flex-col justify-end item-end"
      >
        <p
          class="text-black font-bold text-[15px] uppercase tracking-[1.07px] mb-4"
        >
          {{ product.name }}
        </p>
        <a
          class="text-[13px] flex items-center justify-between uppercase mx-auto w-[58px] whitespace-nowrap text-[#979797] font-bold tracking-[1px]"
        >
          <span>shop</span>
          <svg width="8" height="12" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M1.322 1l5 5-5 5"
              stroke="#D87D4A"
              stroke-width="2"
              fill="none"
              fill-rule="evenodd"
            />
          </svg>
        </a>
      </div>
    </li>
    }
  </ul>
</section>
