<section>
  <div class="w-[87%] md:w-[89%] xl:w-[77%] mx-auto text-center">
    <h2 class="mt-8 text-white md:mt-24">{{ heading }}</h2>
    @if(isLoading) {
    <app-loader />
    } @else {
    <ul class="flex flex-col mt-24 text-center md:mt-60 gap-y-20 lg:gap-y-24">
      @for(product of products; track $index) {
      <li
        [ngStyle]="{
          flexDirection: isDesktopWidth
            ? $index % 2 === 0
              ? 'row'
              : 'row-reverse'
            : null
        }"
        class="flex flex-col gap-y-8 lg:justify-between lg:items-center"
      >
        <div class="relative w-full lg:w-[50%]">
          <app-pictures [image]="product.categoryImage" />
        </div>
        <div
          class="flex flex-col gap-y-6 lg:text-start lg:w-[445px] items-center lg:items-start"
        >
          @if(product.new) {
          <span class="text-orange">new product</span>

          }
          <h2>{{ product.name }}</h2>
          <p>{{ product.description }}</p>
          <app-button
            [label]="'see product'"
            [customStyle]="
              'bg-orange w-40 text-white hover:bg-lightOrange hover:text-white'
            "
            [isRoute]="true"
            [route]="['details', product.slug]"
          />
        </div>
      </li>
      }
    </ul>
    }
  </div>
  <app-product-card />
</section>
