<ul
  class="flex flex-col gap-y-6"
  [ngStyle]="{ padding: isCart ? '30px' : '0px' }"
>
  @if(isCart) {
  <div class="flex items-center justify-between">
    <h6 class="uppercase">cart ({{ cartItems.length }})</h6>
    <app-button
      [label]="'remove all'"
      [customStyle]="'bg-none text-[#979797] tex-[13px] font-medium'"
    />
  </div>
  } @for(item of cartItems; track $index) {
  <li class="flex items-center justify-between">
    <div class="flex items-center gap-x-3">
      <img
        [src]="item.product.cartImage"
        [alt]="item.product.nickName"
        class="rounded-[8px]"
        width="64px"
        height="64px"
      />
      <div>
        <p class="font-bold text-black capitalize">
          {{ item.product.nickName }}
        </p>
        <p class="font-bold">{{ item.product.price | currency : "USD" }}</p>
      </div>
    </div>
    @if(isCart) {
    <div
      class="bg-[#f1f1f1] w-[96px] flex justify-between items-center text-center"
    >
      <app-button
        [label]="'-'"
        [isRoute]="false"
        [customStyle]="'text-[#979797] w-8 h-8 font-bold hover:text-[orange]'"
      />
      <p class="font-bold text-[13px] text-black self-center bg-red-4 mx-auto">
        1
      </p>
      <app-button
        [label]="'+'"
        [isRoute]="false"
        [customStyle]="'text-[#979797] w-8 h-8 font-bold hover:text-[orange]'"
      />
    </div>
    } @else {
    <p class="text-[#979797] font-bold">x{{ item.quantity }}</p>
    }
  </li>
  } @if(isCart) {
  <div class="flex justify-between">
    <p class="uppercase">total</p>
    <p class="text-lg font-bold text-black">
      {{ totalPrice | currency : "USD" }}
    </p>
  </div>
  } @else {
  <div>
    <ul>
      @for(info of summaryInformation; track $index) {
      <li
        class="flex justify-between gap-y-2"
        [ngStyle]="{
          marginTop: info.name === 'grand total' ? '16px' : 0
        }"
      >
        <p class="uppercase">{{ info.name }}</p>
        <p
          class="text-lg font-bold"
          [ngStyle]="{
            color: info.name === 'grand total' ? '#D87D4A' : 'black'
          }"
        >
          {{ info.amount | currency : "USD" }}
        </p>
      </li>
      }
    </ul>
  </div>
  }
  <app-button
    [label]="label"
    [customStyle]="'bg-orange hover:bg-lightOrange text-white w-full'"
  />
</ul>
