<main>
  <section
    class="justify-center h-[511px] md:h-[640px] xl:h-[637px] flex flex-col text-center w-[87%] md:w-[89%] xl:w-[77%] mx-auto lg:text-start gap-y-8"
  >
    <span class="text-[#979797]">new product</span>
    <h1 class="text-white">
      xx99 mark ii<br />
      headphones
    </h1>
    <p class="lg:w-[379px] md:w-[349px] md:mx-auto lg:mx-0">
      Experience natural, lifelike audio and exceptional build quality made for
      the passionate music enthusiast.
    </p>
    <app-button
      [label]="'see product'"
      [customStyle]="
        'bg-orange w-40 text-white hover:bg-lightOrange hover:text-white'
      "
      [isRoute]="true"
      [route]="['/headphones' + '/details' + '/xx99-mark-two-headphones']"
    />
  </section>
  <app-product-card />
  <section
    class="bg-orange overflow-hidden mt-32 gap-y-6 flex flex-col lg:flex-row lg:justify-between lg:items-center lg:text-start justify-center w-[87%] md:w-[89%] xl:w-[77%] rounded-[8px] bg-[url('/assets/home/desktop/pattern-circles.svg')] bg-no-repeat bg-cover bg-top py-12 px-0 lg:px-[7%] mx-auto text-center"
  >
    <div
      class="relative w-[60%] md:w-[197px] lg:w-[45%] mx-auto lg:mx-0 lg:translate-y-16"
    >
      <app-pictures [images]="speakerImages" />
    </div>
    <div class="flex flex-col gap-y-6 md:w-[345px] md:mx-auto lg:mx-0">
      <h1 class="text-white">
        zx9<br />
        speaker
      </h1>
      <p class="text-white">
        Upgrade to premium speakers that are phenomenally built to deliver truly
        remarkable sound.
      </p>
      <app-button
        [label]="'see product'"
        [customStyle]="
          'bg-black w-40 text-white hover:bg-[#4c4c4c] hover:text-white'
        "
        [isRoute]="true"
        [route]="['/speakers' + '/details' + '/zx9-speaker']"
      />
    </div>
  </section>
  <section
    class="md:h-[320px] lg:bg-[url('/assets/home/desktop/image-speaker-zx7.jpg')] md:bg-[url('/assets/home/tablet/image-speaker-zx7.jpg')] bg-[url('/assets/home/mobile/image-speaker-zx7.jpg')] rounded-[8px] bg-[#979797] w-[87%] md:w-[89%] xl:w-[77%] mx-auto h-[320px] bg-no-repeat bg-right bg-cover text-start pl-[7%] md:pl-[5%] flex flex-col justify-center mt-8 gap-y-8"
  >
    <h4>zx7 speaker</h4>
    <app-button
      [label]="'see product'"
      [customStyle]="
        'border-[1px] border-black w-40 text-black hover:bg-black hover:text-white'
      "
      [isRoute]="true"
      [route]="['/speakers' + '/details' + '/zx7-speaker']"
    />
  </section>
  <section
    class="w-[87%] md:w-[89%] xl:w-[77%] mx-auto text-start mt-8 flex flex-col md:h-[px] gap-y-6 md:flex-row md:gap-x-6"
  >
    <div class="relative w-full md:w-[50%] md:h-[320px]">
      <app-pictures [images]="earphonesImages" />
    </div>
    <div
      class="bg-lightGray h-[200px] rounded-[8px] flex flex-col justify-center pl-[8%] md:pl-[5%] gap-y-8 md:w-[50%] md:h-[320px]"
    >
      <h4>yx1 earphones</h4>
      <app-button
        [label]="'see product'"
        [customStyle]="
          'border-[1px] border-black w-40 text-black hover:bg-black hover:text-white'
        "
        [isRoute]="true"
        [route]="['/earphones' + '/details' + '/yx1-earphones']"
      />
    </div>
  </section>
</main>
