<section
  class="w-[87%] md:w-[89%] xl:w-[77%] mx-auto flex flex-col lg:flex-row-reverse lg:justify-between lg:items-center relative mt-[118px] lg:mt-52"
>
  <div class="relative w-full lg:w-[50%]">
    <app-pictures [image]="bestGearImages" />
  </div>
  <div
    class="text-center lg:max-w-[445px] lg:text-start flex flex-col gap-y-8 mt-8"
  >
    <h2>
      bringing you the
      <span class="text-orange text-[28px] md:text-[40px]">best</span> audio
      gear
    </h2>
    <p>
      Located at the heart of New York City, Audiophile is the premier store for
      high end headphones, earphones, speakers, and audio accessories. We have a
      large showroom and luxury demonstration rooms available for you to browse
      and experience a wide range of our products. Stop by our store to meet
      some of the fantastic people who make Audiophile the best place to buy
      your portable audio equipment.
    </p>
  </div>
</section>
