@use "./app/partials/" as *;
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-manrope);
  font-optical-sizing: auto;
  font-style: normal;
  max-width: 1440px;
  margin: 0 auto;
}

.home-page-background {
  background-image: url("/assets/home/mobile/image-header.jpg");
  background-size: cover;
  background-color: #1a1919;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  @media (min-width: 768px) {
    background-image: url("/assets/home/tablet/image-header.jpg");
    height: 729px;
  }
  @media (min-width: 1024px) {
    background-image: url("/assets/home/desktop/image-hero.jpg");
  }
}

.products-page-background {
  background-color: var(--color-black);
  width: 100%;
  height: 192px;
  @media (min-width: 768px) {
    height: 336px;
  }
}

.details-page-background {
  background-color: var(--color-black);
  width: 100%;
  height: 90px;
  @media (min-width: 1024px) {
    height: 97px;
  }
}

@for $i from 1 through 6 {
  h#{$i} {
    font-size: var(--font-small-h#{$i});
    line-height: var(--line-height-small-h#{$i});
    letter-spacing: var(--letter-spacing-small-h#{$i});
    text-transform: uppercase;
    font-weight: bold;
    @media (min-width: 768px) {
      font-size: var(--font-large-h#{$i});
      line-height: var(--line-large-small-h#{$i});
      letter-spacing: var(--letter-large-small-h#{$i});
    }
  }
}

a {
  @apply text-[13px] leading-[25px] tracking-[2px] font-bold uppercase
  text-[var(--color-white)] hover:text-[var(--color-orange)];
}

p {
  @apply text-[15px] leading-[25px] font-medium text-[#979797];
}
span {
  @apply text-sm uppercase tracking-[10px] leading-[19px];
}

button {
  @apply font-[var(--font-manrope)];
}

img {
  vertical-align: middle;
  @apply max-w-full h-auto italic;
}

input {
  @apply font-[var(--font-manrope)] text-sm border-[1px] border-[#cfcfcf]
  rounded-lg h-14 text-[#979797] outline-[#d87d4a] placeholder:text-sm
  placeholder:font-bold placeholder:text-[#979797] -tracking-[0.25px];
}

.product-card {
  &:hover {
    a {
      color: var(--color-orange);
    }
  }
  @apply hover:cursor-pointer hover:scale-95 hover:transition-all hover:duration-[0.3s];
}

.cart {
  @include fadeIn(block);
}

.modal {
  @include fadeIn(flex);
}

.mobile-menu {
  @include fadeIn(block);
}

.toast {
  @include fadeIn(block);
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, var(--color-orange) 94%, #0000)
      top/8px 8px no-repeat,
    conic-gradient(#0000 30%, var(--color-orange));
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}

.button-spinner {
  width: 25px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, var(--color-orange) 94%, #0000)
      top/8px 8px no-repeat,
    conic-gradient(#0000 30%, var(--color-orange));
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}

@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
