<section class="relative">
  <div
    appOutsideClick
    (outsideClick)="handleOutsideClick()"
    [class.active]="isCartActive"
    class="cart bg-white z-20 rounded-[8px] w-[90%] max-w-[377px] mt-6 mx-auto absolute right-[5%] xl:right-[11.5%]"
  >
    <ul class="p-[30px] flex flex-col gap-y-6">
      <div class="flex items-center justify-between">
        <h6 class="uppercase">cart ({{ cartItems.length }})</h6>
        <app-button
          [label]="'remove all'"
          [customStyle]="
            'bg-none text-[#979797] tex-[13px] font-medium hover:text-orange'
          "
          [disabled]="this.cartItems.length === 0 ? true : false"
          (buttonEvent)="clearCart()"
        />
      </div>
      @if(cartItems.length === 0) {
      <p>Cart is empty</p>
      } @else { @for(item of cartItems; track $index) {
      <li class="flex items-center justify-between">
        <div class="flex items-center gap-x-3">
          <img
            [src]="item.product.cartImage"
            [alt]="item.product.nickName"
            class="rounded-[8px]"
            width="64px"
            height="64px"
          />
          <div>
            <p class="font-bold text-black capitalize">
              {{ item.product.nickName }}
            </p>
            <p class="font-bold">{{ item.product.price | currency : "USD" }}</p>
          </div>
        </div>
        <div
          class="bg-[#f1f1f1] w-[96px] flex justify-between items-center text-center"
        >
          <app-button
            [label]="'-'"
            [isRoute]="false"
            [customStyle]="
              'text-[#979797] w-8 h-8 font-bold hover:text-[orange]'
            "
            (buttonEvent)="removeCartItem(item)"
          />
          <p
            class="font-bold text-[13px] text-black self-center bg-red-4 mx-auto"
          >
            {{ item.quantity }}
          </p>
          <app-button
            [label]="'+'"
            [isRoute]="false"
            [customStyle]="
              'text-[#979797] w-8 h-8 font-bold hover:text-[orange]'
            "
            (buttonEvent)="addCartItem(item)"
          />
        </div>
      </li>
      } }
      <div class="flex justify-between">
        <p class="uppercase">total</p>
        <p class="text-lg font-bold text-black">
          {{ totalPrice | currency : "USD" }}
        </p>
      </div>
      <app-button
        [label]="'checkout'"
        [disabled]="cartItems.length === 0 ? true : false"
        [isLoading]="isLoadingButton"
        [customStyle]="
          'bg-orange hover:bg-lightOrange text-white w-full disabled:bg-lightOrange'
        "
        (buttonEvent)="goToCheckout()"
      />
    </ul>
  </div>
</section>
